---
import Section from "./Section.astro";
---

<Section
	name="Background Color"
	info="Adjust your background so it fits your image 😉, sometime you need to adjust the color to make it more visible"
	class="w-full relative flex items-center justify-start gap-4">
	<div class="w-20 h-10 bg-base-100 border-2 border-neutral rounded-md" id="colorTarget"></div>
	<input type="color" name="bg-color" id="bg-color" class="hidden" />
	<label for="bg-color" class="cursor-pointer"> Get your color 🎨</label>
</Section>

<script>
	const colorTarget: HTMLElement = document.getElementById("colorTarget")!;
	const colorInput: HTMLInputElement = document.getElementById("bg-color")! as HTMLInputElement;

	document.onload = () => {
		colorInput.value = colorTarget.style.backgroundColor;
	};

	colorInput.addEventListener("input", (e: Event) => {
		colorTarget.style.backgroundColor = (e.target as HTMLInputElement).value;
	});
</script>
