---
import Text from "./Text.astro";
import UploadImage from "./UploadImage.astro";
---

<div class="flex flex-col relative w-full h-full overflow-auto">
	<div class="grid">
		<UploadImage />
		<Text />
	</div>
	<div class="w-full">
		<div class="w-full grid grid-cols-2 gap-4 p-4">
			<button id="saveButton" class="btn btn-success">💾 Save</button>
			<button id="getCodeButton" class="btn btn-neutral">✨ Get Code</button>
		</div>
	</div>
</div>

<script>
	import { buttonState, pageState } from "../store/store";

	const saveButton = document.getElementById("saveButton")! as HTMLButtonElement;
	const getCodeButton = document.getElementById("getCodeButton")! as HTMLButtonElement;

	saveButton.addEventListener("click", () => {
		buttonState.setKey("save", true);
	});

	getCodeButton.addEventListener("click", async () => {
		try {
			let res = await fetch("/api/post", {
				method: "POST",
			});

			let { content } = await res.json();

			if (!content) {
				alert("An error happened, please try again.");
				return;
			}

			const state: ReturnType<typeof pageState.get> = pageState.get();

			// replace <<key>> with value
			let template = content.replace(/<<(\w+)>>/g, (_: unknown, key: string) => {
				// @ts-ignore - this is fine but yet such a pain
				return state[key] as string;
			});

			// download the file
			const element = document.createElement("a");
			const file = new Blob([template], { type: "text/plain" });
			element.href = URL.createObjectURL(file);
			element.download = "index.html";
			document.body.appendChild(element); // Required for this to work in FireFox
			element.click();
	

			console.log(template);
		} catch (error) {
			alert("An error happened, please try again.");
		}
	});
</script>
