---
import BackgroundColor from "./BackgroundColor.astro";
import Text from "./Text.astro";
import UploadImage from "./UploadImage.astro";
---
<div class="grid">
    <UploadImage />
    <BackgroundColor />
    <Text />
</div>