---
import Section from "./Section.astro";
import Fill from "./text/Fill.astro"
import Font from "./text/Font.astro"
import FontStyle from "./text/FontStyle.astro"
---

<Section
	name="Text"
	info="Let's decorate your image with bunch of text🫡, you can select from template or make yours, but if your text to short it will be looped until 5K character 😨 (just kidding i will try to optimize it based on your font size 😜)">
	<div class="grid gap-4">
		<div class="grid gap-4">
			<Fill />
			<Font />
			<FontStyle />
		</div>
	</div>
</Section>
